/* Form Header + Section Titre */

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.header {
  height: 100px;
  background: rgb(243, 233, 241);
  padding: 0 20px;
  color: #ffffff;
}
.logo {
  float: left;
}
.menu {
  float: right;
  line-height: 100px;
  display: flex;
  list-style-type: none;
  margin: 0;
}
.menu a {
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s;
  font-family: "Architects Daughter", cursive;
  font-weight: bold;
}
.show-menu-btn,
.hide-menu-btn {
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.show-menu-btn {
  float: right;
}
.show-menu-btn i {
  line-height: 100px;
}
.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
  color: rgb(193, 0, 0);
}
#chk {
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}
#first_section {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  background-color: rgb(83, 83, 83);
  padding: 50px;
  width: 100%;
}
#first_section h3 {
  width: 100%;
  max-width: 1365px;
  display: flex;
  justify-content: flex-end;
  color: #ffffff;
  margin-bottom: 0;
}
#my_title {
  font-size: 15rem;
  margin: 0;
}
.by {
  color: #e9afc6;
  margin-bottom: 0;
  font-family: "Architects Daughter", cursive;
  line-height: 150px;
}
@media screen and (max-width: 800px) {
  .show-menu-btn,
  .hide-menu-btn {
    display: block;
  }
  .menu {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgb(243, 233, 241);
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    display: flex;
    flex-direction: column;
    transition: 0.7s;
  }
  .menu a {
    display: block;
    padding: 20px;
  }
  .hide-menu-btn {
    position: absolute;
    top: 40px;
    right: 40px;
  }
  #chk:checked ~ .menu {
    right: 0;
  }
  #first_section h3 {
    padding-bottom: 15px;
    width: 300px;
  }
  #first_section {
    padding: 0;
  }
}

/* Form Ourson Card */

.PartieOurson {
  border: 4mm ridge rgb(243, 233, 241);
  display: flex;
  justify-content: space-between;
  margin: 30px;
}
.imgOurson {
  height: 299px;
  width: 450px;
  margin: 0;
  box-shadow: 5px 2.5px 2.5px rgb(141, 141, 141);
}
.conteneurImg {
  margin: 0;
  padding: 25px;
}
.description_ourson {
  padding: 25px 0;
}
.description_ourson h3 {
  font-size: 3rem;
  line-height: 100px;
  font-family: "Modak", sans-serif;
  background: rgb(202, 121, 63);
  background: linear-gradient(
    159deg,
    rgba(202, 121, 63, 1) 0%,
    rgba(168, 101, 158, 1) 25%,
    rgba(140, 85, 236, 1) 60%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.id_ourson {
  line-height: 15px;
}
.description_ourson p span {
  font-weight: bold;
  color: rgba(202, 121, 63, 1);
}
.description_ourson p,
.description_ourson p span {
  font-family: "Lobster", cursive;
}
.tarifs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding-right: 25px;
}
.prix_ourson p {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Lobster", cursive;
  color: rgba(168, 101, 158, 1);
}
.ajout_panier p a {
  font-size: 1.5rem;
  color: rgba(140, 85, 236, 1);
  font-family: "Lobster", cursive;
}

@media screen and (max-width: 800px) {
  .partie__ourson {
    margin-top: 25px;
  }
  .partie__ourson .PartieOurson {
    margin: 10px 3px;
  }
  #my_title {
    font-size: 4rem;
  }
  .PartieOurson {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .imgOurson {
    max-height: 132px;
    max-width: 200px;
  }
  .PartieOurson figure {
    padding: 10px 0;
  }
  .description_ourson h3 {
    margin: 0;
    text-align: center;
  }
  .PartieOurson .tarifs {
    padding: 0;
  }
}

/* form Footer */

.footer_catalogue {
  background-color: rgb(243, 233, 241);
  height: 100px;
  text-align: center;
}
.footer_catalogue ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding-top: 40px;
}
.footer_catalogue ul li a {
  text-decoration: none;
  font-family: "Architects Daughter", cursive;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}
.footer_catalogue ul li a:hover {
  color: rgb(193, 0, 0);
}

@media screen and (max-width: 800px) {
  .footer_catalogue ul {
    display: flex;
    flex-direction: column;
    padding: 15px 0 0 0;
  }
}

/* FORM PAGE PRODUCT */

#page_product {
  width: 80%;
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
}
.conteneur {
  width: 100%;
  display: flex;
  justify-content: center;
}
.onlyTeddy figure img {
  height: 499px;
  width: 650px;
  margin: 0 0 50px 0;
  border: 3px solid rgb(141, 141, 141);
  box-shadow: 10px 5px 5px rgb(243, 233, 241);
}
.description_Teddy h3 {
  font-size: 3rem;
  line-height: 100px;
  font-family: "Modak", sans-serif;
  color: rgba(202, 121, 63, 1);
}
.description_Teddy p span,
.labelForColor label {
  font-weight: bold;
  color: rgba(168, 101, 158, 1);
}
.description_Teddy p,
.description_Teddy p span,
.labelForColor label {
  font-family: "Lobster", cursive;
}
.divTarifs .prixTeddy p {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Lobster", cursive;
  color: rgba(140, 85, 236, 1);
}
.boutonPanier {
  border-radius: 10px;
  padding: 10px 50px;
  background: rgb(202, 121, 63);
  background: linear-gradient(
    159deg,
    rgba(202, 121, 63, 1) 0%,
    rgba(168, 101, 158, 1) 35%,
    rgba(140, 85, 236, 1) 60%
  );
  color: #f3e9f1;
  font-size: 2rem;
  font-family: "Architects Daughter", cursive;
  font-weight: 900;
  text-transform: uppercase;
}

@media screen and (max-width: 800px) {
  .onlyTeddy figure img {
    height: 187px;
    width: 250px;
  }
  .boutonPanier {
    font-size: 1.5rem;
  }
}

/* Form Page Panier */

#infoPanier h2 {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-family: "Modak", sans-serif;
  font-size: 3rem;
  background: rgb(202, 121, 63);
  background: linear-gradient(
    159deg,
    rgba(202, 121, 63, 1) 5%,
    rgba(168, 101, 158, 1) 35%,
    rgba(140, 85, 236, 1) 60%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#titreCommande {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 30px;
}
#nomCommande,
#couleurCommande,
#prixCommande {
  font-family: "Lobster", cursive;
  font-size: 1.2rem;
}
.detailOursonAchat {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin-left: 90px;
  border: solid 1px #000000;
  margin-bottom: 30px;
}
#fig_pic_cart img {
  height: 100px;
  width: 150px;
  border: solid 1px grey;
}
#myDetailName {
  width: 26%;
  margin-top: 30px;
  text-align: center;
  margin-bottom: 30px;
  font-size: 1.6rem;
  font-weight: bold;
}
#myDetailColor {
  width: 47%;
  margin-top: 90px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
}
#myDetailPrice {
  width: 27%;
  text-align: center;
  margin-top: 90px;
  font-size: 1.6rem;
  font-weight: bold;
}
#divTotal {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: center;
}
#totalPrice {
  margin-right: 50px;
  font-family: "Lobster", cursive;
  font-size: 2rem;
  background: rgb(202, 121, 63);
  background: linear-gradient(
    159deg,
    rgba(202, 121, 63, 1) 5%,
    rgba(168, 101, 158, 1) 35%,
    rgba(140, 85, 236, 1) 60%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#totalPriceCalcul {
  font-family: "Lobster", cursive;
  font-size: 2rem;
}
#deleteButton {
  border: none;
  background-color: white;
  font-family: "Lobster", cursive;
}
#deleteButton:hover {
  color: red;
}
#div_inform_form p {
  text-align: center;
  font-size: 1.6rem;
  font-family: "Lobster", cursive;
  margin: 30px 0;
}
#my_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#div_form_first_name,
#div_form_name,
#div_form_address,
#div_form_city,
#div_form_email {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
#div_form_address {
  width: 199px;
}
#div_confirm input {
  border-radius: 10px;
  padding: 10px 50px;
  background: rgb(202, 121, 63);
  background: linear-gradient(
    159deg,
    rgba(202, 121, 63, 1) 0%,
    rgba(168, 101, 158, 1) 35%,
    rgba(140, 85, 236, 1) 60%
  );
  color: #f3e9f1;
  font-size: 2rem;
  font-family: "Architects Daughter", cursive;
  font-weight: 900;
  text-transform: uppercase;
}
#div_Error_Button {
  text-align: center;
}
#alertCartEmpty {
  text-align: center;
}
@media screen and (max-width: 800px) {
  #my_form {
    display: flex;
    flex-direction: column;
  }
  #div_confirm input {
    max-width: 100%;
    font-size: 1rem;
    margin: 30px 0;
  }
  #div_form_first_name,
  #div_form_name,
  #div_form_address,
  #div_form_city,
  #div_form_email {
    margin-bottom: 40px;
  }
  .detailOursonAchat {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 30px 0;
  }
  #myDetailName,
  #myDetailColor,
  #myDetailPrice {
    width: 100%;
    margin: 0;
  }
  #fig_pic_cart img {
    width: 200px;
    height: 150px;
  }
  #titreCommande {
    display: none;
  }
  #div_inform_form p {
    margin: 30px 0 30px 0;
  }
  #divDelete {
    margin: 0;
  }
  #divTotal {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 30px;
  }
  #totalPrice {
    margin: 0;
  }
}
@media screen and (max-width: 1400px) and (min-width: 1024px) {
  #my_form {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
  }
  .detailOursonAchat {
    margin: 30px 50px;
  }
  #infoPanier h2 {
    font-size: 5rem;
  }
  #div_form_first_name,
  #div_form_name,
  #div_form_address,
  #div_form_city,
  #div_form_email {
    border: solid grey 1.5px;
  }
}
/* Form Page Thanks */

#page_remerciements {
  text-align: center;
  border: 2px solid grey;
  margin: 50px 100px;
}
#thanks img {
  box-shadow: 5px 2.5px 2.5px rgb(141, 141, 141);
  margin: 30px 0;
}
#premiere_partie {
  font-family: "Architects Daughter", cursive;
  font-size: 5rem;
  margin: 50px 0;
}
#prix_achat {
  font-family: "Lobster", cursive;
  font-size: 5rem;
  color: #e9afc6;
}
#deuxieme_partie {
  font-family: "Architects Daughter", cursive;
  font-size: 3rem;
  margin: 30px 0;
}
#order_id {
  font-family: "Lobster", cursive;
  font-size: 2.5rem;
  color: #e9afc6;
}
#troisieme_partie {
  font-family: "Architects Daughter", cursive;
  font-size: 1.5rem;
}
.merci {
  font-family: "Lobster", cursive;
  font-size: 4rem;
  color: #e9afc6;
}
@media screen and (max-width: 800px) {
  #thanks img {
    width: 250px;
    height: 227px;
  }
  #page_remerciements {
    margin: 15px 0;
  }
  #premiere_partie {
    font-size: 3rem;
    margin-bottom: 0;
  }
  #deuxieme_partie {
    font-size: 2rem;
    margin-bottom: 0;
  }
  #order_id {
    font-size: 2rem;
  }
  #troisieme_partie {
    font-size: 1.1rem;
  }
  .merci {
    font-size: 2rem;
  }
}

/* Form Mentions Légales */

.mention {
  border: solid 1px grey;
  width: 90%;
  margin: 30px 100px;
  padding: 50px;
}
.mention h2 {
  text-align: center;
  margin-bottom: 30px;
  font-family: "Architects Daughter", cursive;
  font-size: 3rem;
}
.mention h3 {
  font-family: "Lobster", cursive;
  font-size: 2.5rem;
  color: #e9afc6;
  text-align: center;
}
.mention ul {
  list-style-type: none;
}
.mention p {
  text-align: justify;
}
@media screen and (max-width: 800px) {
  .mention {
    margin: 30px 0;
    width: 100%;
  }
  .mention h3 {
    font-size: 2rem;
  }
  .mention ul {
    text-align: center;
  }
}
@media screen and (max-width: 1366px) and (min-width: 1024px) {
  .mention {
    width: 100%;
    margin: 30px 0;
  }
}
